h1 {
    font-size: 24px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#connect-btn {
    color: white;
}

#disconnect-btn {
    color: white;
}

img {
    vertical-align: middle;
    margin-right: 5px;
}

#connect-btn img {
    height: 20px;
    width: 20px;
}

#disconnect-btn img {
    height: 20px;
    width: 20px;
}

button {
    margin-top: 20px;
}

button img {
    margin-bottom: -4px;
}
